// src/components/Layout/Layout.module.scss

.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-light);
  color: var(--text-light);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dark {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

.contentArea {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 220px; // width of sidebar
}

.main {
  flex-grow: 1;
  padding: 88px 24px 24px; // Top padding to account for header height
  background-color: transparent;
  min-height: calc(100vh - 64px);
}

