.appBar {
  background-color: #9130ff !important;
  z-index: 1001;
  width: calc(100% - 220px);
  margin-left: 220px;
}

.toolbar {
  min-height: 56px;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.logo {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #ffffff;
}

.grow {
  flex-grow: 1;
}

